<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <!--<add key="RestUrl" value="http://t3-ks.com/update.api/"/>-->
    <add key="RestUrl" value="http://t3-ks.com:4000/update.api/"/>
    <!--<add key="RestUrl" value="http://localhost:4000/"/>-->
    <add key="AppName" value="planetpos"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
