<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyNET.Shops.Properties.Settings.T3ConnectionString" connectionString="Data Source=.\Sqlexpress;Initial Catalog=T3;Integrated Security=True" provIderName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
