#table_div .draggable {
    position: absolute;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

#table_div .draggable .row {
    justify-content:center;
}

#table_div .draggable .row h5 {
    font-size: 13px;
}
