<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings>
    
    <add name="ConnectionString" connectionString="Data Source=.;user=sa;pwd=default;database=dbname;" providerName="System.Data.SqlClient;connect timeout=1" />   
 
  </connectionStrings>
  
  <appSettings>
    <!--<add key="RestUrl" value="http://t3-ks.com/update.api/"/>-->
    <add key="RestUrl" value="http://t3-ks.com:4500/update.api/"/>
    <!--<add key="RestUrl" value="http://localhost:4000/"/>-->
    <add key="AppName" value="Local.srv"/>
    
    <add key="Username" value="sa"/>
    <add key="Password" value="Ax%9_3!-lp?qed"/>
    
  </appSettings>

  
  <userSettings>
    <AutoUpdate.Properties.Settings>
      <setting name="ClientSN" serializeAs="String">
        <value/>
      </setting>
    </AutoUpdate.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
