<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="Dapper" version="2.0.123" targetFramework="net461" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="ExtendedXmlSerializer" version="3.7.6" targetFramework="net461" />
  <package id="FreeSpire.PDF" version="8.6.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.59" targetFramework="net48" />
  <package id="itext7" version="7.2.3" targetFramework="net461" />
  <package id="itext7.commons" version="7.2.3" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net461" />
  <package id="LightInject" version="6.3.5" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net461" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.Toolkit" version="7.1.2" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2478.35" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NReco.LambdaParser" version="1.0.12" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="RestSharp" version="106.6.10" targetFramework="net452" />
  <package id="SocketIOClient" version="3.0.8" targetFramework="net462" />
  <package id="SocketIoClientDotNet" version="0.9.13" targetFramework="net462" />
  <package id="Spire.Doc" version="10.9.6" targetFramework="net461" />
  <package id="Sprache" version="2.3.1" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net461" />
  <package id="System.Interactive" version="4.1.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net462" />
</packages>